langchain
langchain-ollama
langchain-community
langchain-huggingface
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
streamlit
datasets
python-dotenv
fastapi
pydantic
uvicorn
httpx
bert-score
rouge-score
pytest